@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323';
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: rgb(41, 38, 38);
}
#title {
  font-size: 50px;
  color: white;
}
#gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 450px;
  width: 450px;
  margin: 0 auto;
}
.field {
  height: 150px;
  width: 150px;
  font-size: 125px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.field-top {
  border-bottom: 2px solid white;
}
.field-left {
  border-right: 2px solid white;
}
.field-right {
  border-left: 2px solid white;
}
#restart {
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 10px;
  color: rgb(41, 38, 38);
  border-style: none;
}
